In [400]:
import pandas as pd

In [401]:
all_documents=pd.read_csv('activity_data.csv')

In [402]:
all_documents

,Unnamed: 0,user_id,activity,start_time,end_time
0,0,348f8d18-a28a-4d50-bdea-3e409760bb81,pilates,2022-03-24 06:54:45,2022-03-24 07:01:46
1,1,9eb8b5f4-542a-441b-983b-5a276c2b9b1a,running,2022-03-24 07:02:33,2022-03-24 07:10:41
2,2,cef1e66a-97f8-46b3-8281-ec0e3969ac21,meditation,2022-03-24 07:11:17,2022-03-24 07:19:11
3,3,4548b498-4553-4b74-a847-28122af1e3c6,pilates,2022-03-24 07:23:35,2022-03-24 07:30:24
4,4,a96a87c8-c79a-463e-bb6b-fd1b63755b95,walking,2022-03-24 07:30:47,2022-03-24 07:36:54
...,...,...,...,...,...
4995,4995,6627d077-3dc2-4659-9d95-9c56d3775c11,running,2022-05-06 17:48:42,2022-05-06 17:56:45
4996,4996,afd0c7f4-364c-48a1-91aa-2f3bb3783a54,running,2022-05-06 18:02:25,2022-05-06 18:10:15
4997,4997,114b8f03-b997-4c9f-abc0-fe196dcf48e8,running,2022-05-06 18:10:00,2022-05-06 18:19:45
4998,4998,63d377e5-1fdf-4128-8618-31e887e62432,running,2022-05-06 18:24:36,2022-05-06 18:33:17
4999,4999,10cbe053-86c3-46ae-9e4d-5ed30d38d42b,walking,2022-05-06 18:40:11,2022-05-06 18:49:47

In [403]:
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    for item in my_list:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
    return freq

In [404]:
activity_fre = []
for i in range(len(all_documents)):
    meta = all_documents["user_id"][i]
    activity_fre.append(meta)

In [405]:
user_activity = CountFrequency(activity_fre)

In [406]:
print(user_activity)

{'348f8d18-a28a-4d50-bdea-3e409760bb81': 170, '9eb8b5f4-542a-441b-983b-5a276c2b9b1a': 168, 'cef1e66a-97f8-46b3-8281-ec0e3969ac21': 71, '4548b498-4553-4b74-a847-28122af1e3c6': 162, 'a96a87c8-c79a-463e-bb6b-fd1b63755b95': 113, 'b365b0f0-4695-4dd7-9779-d2436c2a5198': 166, '41d2e277-46f9-4c15-8bbc-6e26bfcdfe30': 139, '57aeab35-015a-49df-8b92-c2a63e744f45': 120, '9eb2a35d-7e1f-4232-b210-5ea94af5f219': 152, '49bd1de9-45f8-4397-80f5-2cc628b9de44': 69, '63d377e5-1fdf-4128-8618-31e887e62432': 100, '8c0b856f-b979-4d1b-9933-856661874f41': 106, 'a09dc520-40f5-4997-bec8-354320cc99a4': 167, 'd2fae8ab-b49a-41c8-a5fe-d6ec474ccf5b': 88, 'f270972b-ea6c-4146-aa76-33143dfc44b1': 159, '114b8f03-b997-4c9f-abc0-fe196dcf48e8': 148, '64e19970-d38b-431a-89a3-c7f8764b4dce': 178, '7d9acb03-5a81-4dcc-8d16-634e64bd942d': 141, '1682a0bd-ec3c-42e2-99cb-500048b0e418': 93, '77542bc0-4b6e-4e28-8b68-4bb8188f5649': 67, 'ccff4a22-d936-48d1-b195-1619226e1c28': 126, 'afd0c7f4-364c-48a1-91aa-2f3bb3783a54': 132, 'a5ecd4a3-59ea-4666-bc25-f44b0de05f42': 107, '63e51cc4-fcb5-4a3d-b6ac-4f6d6a8d0225': 137, 'f81f5ea0-dd7d-4924-ab57-01ba6cd1a014': 154, 'e03d5854-730f-46e4-8056-8e7e103783e6': 110, '8b7f187a-074f-4aa1-8ec7-600457b745ff': 124, 'd4665e30-5866-4224-b1ba-a49a72a6f948': 52, '2f77f801-b448-40cf-9f0a-8cf91354453d': 124, '75052213-43b2-4827-a3d7-d670bcc8c3cc': 34, '10cbe053-86c3-46ae-9e4d-5ed30d38d42b': 107, 'aa5d9447-2e09-44ad-92c1-73fa9117858d': 42, 'b57e60ea-9832-4074-88a7-4da955764106': 37, '82f2b2af-d0d0-45b8-92ed-68400e1b4548': 87, 'f3bb6923-7e0a-4e46-920b-45b0459f33d9': 63, 'd6e1c55a-8717-4b0c-aed0-5293c3149d65': 102, '6627d077-3dc2-4659-9d95-9c56d3775c11': 78, 'd52126f9-3be7-464f-b038-efde16d5aaea': 99, 'f90dc92d-85fa-4f40-a6a8-3c9424df5a3e': 16, '1a212835-a7d8-4849-849c-3c21c9f54dc5': 28, 'b2742235-3a2a-4243-aaa7-5a8579c902ba': 143, '9a8bb681-6b7f-40aa-b71a-abd03e8813f3': 26, '2a8df99f-d13b-4bc5-be7f-bbc5ac1bd34e': 101, '6b8dc516-bfe9-4c28-91d0-5829f2f3d5e5': 80, '41000934-a253-409b-a6bc-2335cc57f54e': 47, 'a3aa913d-fe9a-424c-ac26-42ec19e67494': 106, '9008fb68-548d-48a6-9f6e-5f2ea83dc587': 30, 'e4e8ba2d-96cd-4177-811d-d589a1db84b1': 111, 'fc3be842-ef01-4e9f-b8cb-6a24c3b4e056': 19, '291c02d8-9e20-41a3-8cc8-2e0e294556fb': 1}

In [422]:
min_val = 78
val = 0
for user in user_activity.values():
    val = int(user)
    if min_val > val:
        max_val = val
        print(user)

71
69
67
52
34
42
37
63
16
28
26
47
30
19
1

In [423]:
activity_fre = []
for i in range(len(all_documents)):
    meta = all_documents["activity"][i]
    activity_fre.append(meta)

In [424]:
CountFrequency(activity_fre)

{'pilates': 583,
 'running': 1324,
 'meditation': 975,
 'walking': 1574,
 'aerobics': 544}

In [425]:
def get_sec(time_str):
    """Get seconds from time."""
    h, m, s = time_str.split(':')
    return int(h) * 3600 + int(m) * 60 + int(s)

In [474]:
def activity_time_each(user, activity ):
    activity_time = []
    for i in range(len(all_documents)):
        if str(all_documents["user_id"][i]) == user:
            meta = all_documents["activity"][i]
            if meta == activity:
                s1 = all_documents["start_time"][i]
                s2 = all_documents["end_time"][i] # for example
                s1 = s1[-8:]
                s2 = s2[-8:]
                FMT = '%H:%M:%S'
                tdelta = datetime.strptime(s2, FMT) - datetime.strptime(s1, FMT)
                tdelta = str(tdelta)
                try:
                    run_time = get_sec(tdelta)
                    activity_time.append(run_time)
                except:
                    print(s1, s2)
                    print("An exception occurred")

    return activity_time

In [487]:
indi_activity_time = activity_time_each('fc3be842-ef01-4e9f-b8cb-6a24c3b4e056', 'walking' )

In [488]:
sum_run = 0
print(len(indi_activity_time))
for i in range(len(indi_activity_time)):
    sum_run = sum_run + int(indi_activity_time[i])

5

In [489]:
print(sum_run)

2281

In [490]:
average_run = sum_run//(len(indi_activity_time))

In [491]:
print('average running in min : ', average_run//60)

average running in min :  7

In [392]:
print('average pilates in min : ', float(average_run//60))

average pilates in min :  6.0

In [415]:
print('average meditation in min : ', average_run//60)

average meditation in min :  8

In [421]:
print('average walking in min : ', average_run//60)

average walking in min :  7

In [213]:
print('average aerobics in min : ', average_run//60)

average aerobics in min :  7